# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*sensors
!*switches
!*lovelace
!*www
!*notifications
!*screenshots
!themes
!*nodered
!*custom_files/irrigation
!*automations/system

# Ignore folders.
.storage
.cloud
.google.token
.custom_components
.node-red
.icloud
.deps
.tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant.log
zones.yaml
/arduino/settings.h
custom_files/*/*.txt
custom_files/snapshots/last_snapshotfiledate.txt
custom_files/snapshots/last_snapshotfilename.txt
